html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    display: grid;
    grid-template: 1fr 7fr / 1fr;
    background: var(--main-bg);
    color: var(--main-fg);

    font-family: 'Noto Sans', sans-serif;

    &,
    * {
        transition: background 200ms, color 200ms, fill 200ms;
    }
}

header {
    display: grid;
    grid-template: 1fr / 10fr minmax(130px, 1fr);
    margin: 0 5%;

    h1 {
        color: var(--main-accent);
        font-size: 60px;
    }

    .theme-toggle {
        align-self: center;

        input {
            position: relative;
            margin: 20px;
        }

        input::after {
            position: absolute;
            display: block;
            content: '';
            height: 20px;
            width: 40px;
            border-radius: 500px;
            background: var(--toggle-bg);

            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);
            transition: background 500ms;
        }

        input::before {
            position: absolute;
            display: block;
            content: '';
            height: 14px;
            width: 14px;
            border-radius: 100%;
            background: var(--toggle-fg);
            transition: transform 200ms ease-in-out;
            z-index: 2;
        }

        input:not(:checked)::before {
            transform: translateX(70%);
        }

        input:checked::before {
            transform: translateX(-70%);
        }
    }
}

.svg-icon {
    height: 20px;
    fill: var(--main-fg);
}

.input-form {
    margin: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
        background: var(--button-bg);
        color: var(--toggle-fg);
        padding: 5px 10px;
        border: none;
        outline: none;
        border-radius: 5px;

        &:active {
            filter: brightness(90%);
        }
    }
}

.input-form .inputs {
    display: grid;

    grid-template: 1fr 1fr / 3fr 3fr 1fr;
    column-gap: 3%;
    width: min-content;
    font-size: 1.2rem;

    label {
        order: -1;
        color: var(--main-fg);
    }

    input {
        font-size: 1.2rem;
        height: 1em;
        outline: none;
        background: var(--input-bg);
        border: none;
        padding: 3px 3px;
    }
}

.data {
    margin: 5% 5% 0;
    display: flex;

    justify-content: center;

    table {
        width: 70%;

        th,
        td {
            border-right: 1px solid var(--main-fg);
            width: 30%;
        }

        thead tr {
            background: var(--toggle-bg);
            color: var(--toggle-fg);
        }

        tr:nth-child(even) {
            background: var(--toggle-bg);
            color: var(--toggle-fg);
        }
    }
}
